/*---------- Polices ----------*/

@font-face 
{
    font-family: 'ArcadeGamerFont';
    src: url('Arcade_Gamer.ttf') format('ttf') 
}

@font-face 
{
    font-family: 'Horta';
    src: url('Horta-demo.ttf') format('ttf')  
}

/*---------- En-tête ----------*/

header 
{
   
    background-color: black; 
    color: #f61d1d;
    padding: 20px;

    /* Ajoute les lignes de bordures */
    border-bottom: 5px solid yellow; /* en bas */
    border-top: 5px solid yellow; /*en haut */
}

.logo
 {
    width: 80px; /* Redimensionne l'image à 80 pixels de large */
    margin-right: 0px; /* Espacement entre l'image et le titre */
}


.dynamics
{
    color: gold;
}

ul
{ 
    display: inline;
}

/*---------- Corps ----------*/

body
{
    font-weight: bold;
    font-family: 'Horta', sans-serif;
    background-color: black;
}


h1 
{
    font-size: 24px;
    color: gold;
}

h2
{
    text-align: center;
    color: gold;
}

h3
{
    display: flex;
    justify-content: center;
}

nav
{   
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}


p
{
    color: gold;
}

.game-description
{
    display: flex;
    justify-content: center;
}

/*---------- Boutons ----------*/

.button 
{
    /* font */
    font-weight: bold;
    font-size: 16px;

   
    border-radius: 5px;
    border: 2px solid gold; 
    display: inline;
    padding: 10px 20px;
    background-color: #f61d1d;
    color: gold;
    border: none;

    margin-right: 10px;
}

.button:hover 
{
    background-color: gold;
    color: #f61d1d;
}

html
{
    font-family: 'arial', sans-serif;
}

.dowload-button
{
    position: center;
}










